body{
    background-color: black;
}
#header{
    background-image: url("https://w.wallha.com/ws/1/vRs0PSJL.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}
#logo{
    color: red;
    padding: 5px;
}