*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
}
.imageContainer{
    background-image: url('https://media.cntraveler.com/photos/5c0830441a2ab82c9b4c8f52/3:2/w_2385,h_1590,c_limit/AvaGenesTablebyAJMeeker.jpg');
    height: 486px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: #ffffff;
    position: relative;
    top: 270px;
    text-align: center;
    opacity: 1;
}
.searchCategory{
    position: relative;
}
.searchcategoryTitle{
    position: relative;
    top: 10px;
    color: #333;
    text-align: left;
}
.subTitle{
    position: relative;
    top: 30px;
    color: #333;
    text-align: left;
}